* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: rgba(0, 0, 0, 1);
    padding: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1{
    color: white;
    font-size: 3rem;
}

.hidden {
    display: none;
}

nav button {
    border: none;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0); /* Adjust the last value (alpha) for transparency */
    color: white;
    margin: 0 10px;
    letter-spacing: 5px;
    font-size: 20px;
}

nav button:hover {
    font-size: 20px;
    border-bottom: 5px solid white;
    cursor: pointer;
}


#content img{
    height: 100vh;
    width: 100vw;
}

#content h2 {
    text-align: center;
    font-weight: 800;
    margin: 40px;
    font-size: 3rem;
    display: inline-block; /* Ensures the line is positioned relative to the text */
    position: relative; /* Required for absolute positioning of the line */
}


.line {
    width: 210px; /* Set the width of the line */
    height: 5px; /* Set the thickness of the line */
    background-color: black; /* Set the color of the line */
    position: absolute;
    bottom: -240px;
    left: 42px;
}


#content p {
    margin-top: 10px;
    padding: 30px;
    line-height: 2rem;
    font-size: 18px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: black;
    display: none;
    flex-direction: column;
}

.sidebar button{
    width: 100%;
}

.sidebar button:hover{
    border-bottom: 1px solid white;
}

.header nav i {
    color: white;
    font-size: 25px;
}

.header .fa-bars {
    display: none;
}

.header .sidebar .fa-x {
    margin-top: 50px;
    font-size: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
}



/* About us section */


#about .heading{
    background-image: url('https://images.unsplash.com/photo-1517248135467-4c7edcad34c4');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heading h2{
    color: white;
    font-size: 3rem;
    text-align: center;
    padding-top: 200px;
}


#about .story{
    display: flex;
    margin-top: 30px;
    padding: 40px;
    gap: 40px;
}

.story h3{
    width: 40%;
    align-self: center;
    font-style: italic;
    font-size: 30px;
}

#about .philosophy {
    padding: 40px;
}

.philosophy h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 600;
}

#about .chef {
    display: flex;
    padding: 40px;
    gap: 40px;
}

.chef img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.chef h3{
    text-align: center;
    margin-bottom: 10px;
    font-size: 2rem;
}

#about .team{
    padding-left: 40px;
    padding-right: 40px;
}

.team h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2rem;
}

#about .community{
    display: flex;
    padding: 40px;
    gap: 40px;
}

.community img {
    height: 150px;
    width: 250px;
    box-shadow: -1px 3px 26px 24px rgba(0,0,0,0.53);
-webkit-box-shadow: -1px 3px 26px 24px rgba(0,0,0,0.53);
-moz-box-shadow: -1px 3px 26px 24px rgba(0,0,0,0.53);
}

.community h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

#about .visit{
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    gap: 40px;
}

.visit iframe {
    height: 150px;
    width: 250px;
}

.visit h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

#serving .appetizer, .entrees, .pizza{
    display: flex;
    padding: 40px 40px 0 40px;
    gap: 40px;
    justify-content: center;
}

#serving img{
    height: auto;
    width: 150px;
    border-radius: 50%;
}

#serving h3{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}


#serving .dessert{
    display: flex;
    padding: 40px;
    gap: 40px;
    justify-content: center;
}

#serving ol li{
    line-height: 30px;
    font-size: 18px;
}


footer {
    background-color: rgba(0, 0, 0, 1);
    bottom: 0;
    width: 100%;
    color: white;
}









@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .header .fa-bars {
        display: block;
    }


    /* Home page */
    #content img{
        height: auto;
    }
    #content h2 {
        line-height: 70px;
        margin-bottom: 10px;
    }
    #content .line{
        display: none;
    }


    /* About page */
    #about .heading{
        height: 100px;
    }

    #about .chef {
        flex-direction: column;
    }

    .chef img {
        height: auto;
        width: 100%;
        border-radius: 50%;
    }

    #about .community img{
        display: none;
    }

    #about .visit {
        flex-direction: column;
    }

    .visit iframe {
        width: 100%;
    }

    /* Menu Page */
    #serving .appetizer, .entrees, .pizza, .dessert{
        flex-direction: column;
    }

    #serving img{
        width: 100%;
    }
}

@media (max-width: 450px) {
    .sidebar {
        width: 100%;
    }
}


@media (max-width: 1024px){
    #about .heading {
        height: 250px;
    }
}

