* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(0, 0, 0, 1); /* Adjust the last value (alpha) for transparency */
    padding: 40px;
    /* position: fixed; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    color: white;
    font-size: 3rem;
}

nav button {
    border: none;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0); /* Adjust the last value (alpha) for transparency */
    color: white;
    margin: 0 10px;
    letter-spacing: 5px;
    font-size: 20px;
}

nav button:hover {
    font-size: 20px;
    border-bottom: 5px solid white;
    cursor: pointer;
}


#content img{
    height: 100vh;
    width: 100vw;
}

#content h2 {
    text-align: center;
    font-weight: 800;
    margin: 40px;
    font-size: 3rem;
    display: inline-block; /* Ensures the line is positioned relative to the text */
    position: relative; /* Required for absolute positioning of the line */
}


.line {
    width: 210px; /* Set the width of the line */
    height: 5px; /* Set the thickness of the line */
    background-color: black; /* Set the color of the line */
    position: absolute;
    bottom: -260px;
    left: 42px;
}


#content p {
    margin-top: 10px;
    padding: 30px;
    line-height: 2rem;
    font-size: 18px;
}
